<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon/fav4.svg" type="image/x-icon">
    <title>
        {% if title!='Home'%}
            {{title}} |
        {% endif %}
        TAB Nation
    </title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/output.css">

</head>

<body class="flex flex-col min-h-screen bg-black">



    {% include 'header.njk' %}


    <div class="flex-1">
        
            {{ content | safe }}
        
    </div>


    {% include 'footer.njk' %}


    <script src="/js/script.js"></script>

</body>

</html>