<a href="{{props.link}}"
    class="bg-orange-500 py-1 px-3 font-bold text-xl uppercase rounded hover:top-1 relative transition-all top-0 hover:bg-orange-600 hover:shadow-lg hover:shadow-orange-100/20"
    target="_blank">
        {{props.text}}
    </a>