<section class="bg-white">
    <footer class="container mx-auto flex justify-between py-3 font-bold px-5 items-center flex-col md:flex-row">
        <a href="//youtube.com/user/tadamm?sub_confirmation=1" class="text-lg hover:text-orange-500 transition-all">
            <i class="fab fa-youtube"></i>
            <span>TAB Nation</span></a>
        <a href="//gavinpereira.in" class="font-normal text-sm flex items-center gap-2 group" target="_blank">
            <i class="fas fa-code font-bold text-lg"></i>
            by <span class="font-bold text-lg group-hover:underline">Gavin Pereira</span>
        </a>
    </footer>
</section>
