    <section class="bg-white">
        <header class="container mx-auto flex lg:items-center flex-col p-5 justify-between relative items-start">
            <div class="flex justify-between lg:justify-center w-full ">
                <img src="/img/logo.svg" class="h-10 lg:h-20">
                <ham class="lg:hidden cursor-pointer grid place-items-center" data-visible="false"
                    style="-webkit-tap-highlight-color: rgba(0,0,0,0);">
                    <i class="fas fa-bars text-2xl"></i>
                </ham>
            </div>
            <nav
                class="gap-5 flex lg:flex flex-col lg:flex-row items-start lg:items-center nav-hidden transition-all mt-5">
                <a href="/"
                    class="border-b-2 border-gray-400  uppercase font-black bebas text-2xl text-gray-700 hover:text-orange-900 transition">
                    Home</a>
                <a href="#"
                    class="uppercase font-black bebas text-2xl text-gray-700 hover:text-orange-900 transition">Videos
                    &
                    Code</a>
                <div class="relative group">
                    <span
                        class="cursor-pointer uppercase font-black bebas text-2xl text-gray-700 hover:text-orange-900 transition">Helpful
                        Links</span>
                    <div
                        class="lg:h-0 overflow-hidden lg:p-0 transition-all gap-1 lg:group-hover:h-auto lg:group-hover:p-2 flex flex-col lg:absolute lg:left-1/2 lg:-translate-x-1/2  bg-white lg:items-center rounded lg:shadow pl-5 ">
                        <a href="#"
                            class="uppercase font-black bebas text-xl text-gray-700 hover:text-orange-900 transition">
                            AutoHotkey&nbsp;Links</a>
                        <a href="#"
                            class="uppercase font-black bebas text-xl text-gray-700 hover:text-orange-900 transition">
                            AutoHotkey&nbsp;Scripts</a>
                        <a href="#"
                            class="uppercase font-black bebas text-xl text-gray-700 hover:text-orange-900 transition">
                            Programming&nbsp;Channels</a>
                        <a href="#"
                            class="uppercase font-black bebas text-xl text-gray-700 hover:text-orange-900 transition">
                            Coding&nbsp;Editors</a>
                        <a href="#"
                            class="uppercase font-black bebas text-xl text-gray-700 hover:text-orange-900 transition">
                            Coding&nbsp;BootCamps</a>
                    </div>
                </div>
                <a href="/hire"
                    class="uppercase font-black bebas text-2xl text-gray-700 hover:text-orange-900 transition">For
                    Hire</a>
                <a href="/faq"
                    class="uppercase font-black bebas text-2xl text-gray-700 hover:text-orange-900 transition">FAQ</a>
            </nav>
        </header>
    </section>