---
layout: base.njk

---

<section class="bg-black text-white">
    <div class="container mx-auto py-20 flex flex-col lg:items-center gap-5 px-5">
        {% set props = { text: title} %}
        {% include 'h2.njk' %}
        <div class="prose prose-invert">
            {{ content | safe }}
        </div>
    </div>
</section>