@tailwind base;
@tailwind components;
@tailwind utilities;


.bebas{
    font-family: 'Bebas Neue', sans-serif;
}


.dark-grey{
    background: #222;
}


.faq code{
    background: #222;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 0.7em;
    overflow-x: auto;
}
.faq blockquote{
    background: #222;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 0.85em;
    font-family: monospace;
    overflow-x: auto;
}



.faq p{
    margin-bottom: 5px;
}


.accordion-visible .max-h-0{
    max-height: fit-content;
    margin-bottom: 16px;
}

.accordion-visible .fa-chevron-down{
    transform: rotate(180deg);
}

.accordion-visible > div {
    color: white;
}

.accordion-section ul{
    list-style: disc;
    margin-left: 20px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    pointer-events: none;
  }



@media screen and (min-width: 768px){
    .home-grid-div:nth-child(odd){
        justify-self: end;
    }
    
}

@media screen and (max-width: 768px){
    .h1_break{
        display: none;
    }
    
}

@media screen and (max-width: 1024px){
    .nav-hidden{
        height: 0;
        overflow: hidden;
        padding: 0;
        margin-top: 0;
    }
}